# general
*.env
*.log
*.pem

# reverse-proxy
whitelist.conf

# mail
stalwart_data/
stalwart_config/

# matrix
postgres_data/
storage/
dendrite.yaml

# website
reverse-proxy/website/*
!reverse-proxy/website/Dockerfile
!reverse-proxy/website/docker-compose.yaml