# general
*.env
*.log
*.pem

# reverse-proxy
whitelist.conf

# mail
stalwart_data/
stalwart_config/

# matrix
postgres_data/
storage/
dendrite.yaml

# ansible
.vault_pass
inventory.ini

# monitoring
prometheus.yml