services:
  nginx:
    image: {{ images.nginx }}
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # certs
      - ./certs:/etc/nginx/certs:ro

      # snippets
      - ./snippets:/etc/nginx/snippets:ro

      # conf.d
      - ./conf.d:/etc/nginx/conf.d:ro

      # static content
      - ./reviews/:/var/www/reviews:ro
    networks:
      reverse-proxy-network:
        ipv4_address: {{ reverse_proxy_subnet }}.100
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  reverse-proxy-network:
    name: reverse-proxy-network
    external: true