# Получение LetsCrypt сертификата
server {
    listen 80 default_server;
    server_name _;

    include /etc/nginx/snippets/letsencrypt.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

# Редирект с {{ domains.tg_redirect_com }} в Telegram
server {
    listen 80;
    server_name {{ domains.tg_redirect_com }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ domains.tg_redirect_com }};

    ssl_certificate /etc/nginx/certs/cloudflare/danbesy.com/cert.pem;
    ssl_certificate_key /etc/nginx/certs/cloudflare/danbesy.com/key.pem;

    include /etc/nginx/snippets/cloudflare.conf;
    include /etc/nginx/snippets/ssl.conf;

    return 301 https://t.me/danbesy;
}

# Редирект с {{ domains.tg_redirect_lol }} в Telegram
server {
    listen 80;
    server_name {{ domains.tg_redirect_lol }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ domains.tg_redirect_lol }};

    ssl_certificate /etc/nginx/certs/cloudflare/danbesy.lol/cert.pem;
    ssl_certificate_key /etc/nginx/certs/cloudflare/danbesy.lol/key.pem;

    include /etc/nginx/snippets/cloudflare.conf;
    include /etc/nginx/snippets/ssl.conf;

    return 301 https://t.me/danbesy;
}

# Website - {{ domains.website }}
server {
    listen 80;
    server_name {{ domains.website }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ domains.website }};

    ssl_certificate /etc/nginx/certs/cloudflare/danbesy.com/cert.pem;
    ssl_certificate_key /etc/nginx/certs/cloudflare/danbesy.com/key.pem;

    include /etc/nginx/snippets/cloudflare.conf;
    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://danbesy-website:{{ ports.website }};

        include /etc/nginx/snippets/security-headers.conf;
        include /etc/nginx/snippets/proxy_params.conf;
        include /etc/nginx/snippets/proxy_ws.conf;
    }

    location /_next/static/ {
        proxy_pass http://danbesy-website:{{ ports.website }};
        proxy_cache_bypass $http_upgrade;
        expires 365d;
        access_log off;
        add_header Cache-Control "public, max-age=31536000, immutable";
    }

    location ~* \.(jpg|jpeg|png|gif|ico|css|js|mp4|webm|webp|svg)$ {
        proxy_pass http://danbesy-website:{{ ports.website }};
        include /etc/nginx/snippets/security-headers.conf;
        expires 30d;
        add_header Cache-Control "public, no-transform";
    }
}

# Reviews - {{ domains.reviews }}
server {
    listen 80;
    server_name {{ domains.reviews }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ domains.reviews }};

    ssl_certificate /etc/nginx/certs/cloudflare/danbesy.com/cert.pem;
    ssl_certificate_key /etc/nginx/certs/cloudflare/danbesy.com/key.pem;

    include /etc/nginx/snippets/cloudflare.conf;
    include /etc/nginx/snippets/ssl.conf;

    root /var/www/reviews/;
    index index.html;

    location / {
            try_files $uri $uri/ =404;
        }
        
        location ~* \.(jpg|jpeg|png|gif|ico|css|js|mp4|webm|webp|svg)$ {
            include /etc/nginx/snippets/security-headers.conf;
            
            expires 30d;
            add_header Cache-Control "public, no-transform";

            try_files $uri =404;
    }
}

# Cockpit - {{ domains.panel }}
server {
    listen 80;
    server_name {{ domains.panel}};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ domains.panel }};

    ssl_certificate /etc/nginx/certs/cloudflare/danbesy.com/cert.pem;
    ssl_certificate_key /etc/nginx/certs/cloudflare/danbesy.com/key.pem;

    include /etc/nginx/snippets/cloudflare.conf;
    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://host.docker.internal:{{ ports.panel }};

        include /etc/nginx/snippets/security-headers.conf;
        include /etc/nginx/snippets/proxy_params.conf;
        include /etc/nginx/snippets/proxy_ws.conf;
    }
}

# Grafana - {{ domains.grafana }}
server {
    listen 80;
    server_name {{ domains.grafana }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ domains.grafana }};

    ssl_certificate /etc/nginx/certs/cloudflare/danbesy.com/cert.pem;
    ssl_certificate_key /etc/nginx/certs/cloudflare/danbesy.com/key.pem;

    include /etc/nginx/snippets/cloudflare.conf;
    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://host.docker.internal:{{ ports.grafana }};

        include /etc/nginx/snippets/security-headers.conf;
        include /etc/nginx/snippets/proxy_params.conf;
        include /etc/nginx/snippets/proxy_ws.conf;
        include /etc/nginx/snippets/whitelist.conf;
    }
}

# VPN - {{ domains.vpn_webpanel }}
server {
    listen 80;
    server_name {{ domains.vpn_webpanel }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ domains.vpn_webpanel }};

    ssl_certificate /etc/nginx/certs/letsencrypt/danbesy.com/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/letsencrypt/danbesy.com/key.pem;

    include /etc/nginx/snippets/cloudflare.conf;
    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://host.docker.internal:{{ ports.vpn_webpanel }};

        include /etc/nginx/snippets/security-headers.conf;
        include /etc/nginx/snippets/proxy_params.conf;
    }
}

# Stalwart - {{ domains.mail_webpanel }}
server {
    listen 80;
    server_name {{ domains.mail_webpanel }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ domains.mail_webpanel }};

    ssl_certificate /etc/nginx/certs/letsencrypt/danbesy.com/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/letsencrypt/danbesy.com/key.pem;

    include /etc/nginx/snippets/cloudflare.conf;
    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://stalwart-mail:{{ ports.mail_webpanel }};

        include /etc/nginx/snippets/security-headers.conf;
        include /etc/nginx/snippets/proxy_params.conf;
    }
}

# Matrix - {{ domains.matrix }}
server {
    listen 80;
    server_name {{ domains.matrix }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ domains.matrix }};

    ssl_certificate /etc/nginx/certs/letsencrypt/danbesy.com/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/letsencrypt/danbesy.com/key.pem;

    include /etc/nginx/snippets/cloudflare.conf;
    include /etc/nginx/snippets/ssl.conf;
    include /etc/nginx/snippets/matrix.conf;

    location /_matrix {
        proxy_pass http://dendrite:{{ ports.matrix }};

        include /etc/nginx/snippets/proxy_params.conf;

        client_max_body_size 500M;
        proxy_connect_timeout 600;
        proxy_send_timeout 600;
        proxy_read_timeout 600;
    }

    location /_synapse/client {
        proxy_pass http://dendrite:{{ ports.matrix }};

        include /etc/nginx/snippets/proxy_params.conf;
    }
}

server {
    listen 8448 ssl;
    http2 on;
    server_name {{ domains.matrix }};

    ssl_certificate /etc/nginx/certs/letsencrypt/danbesy.com/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/letsencrypt/danbesy.com/key.pem;

    include /etc/nginx/snippets/cloudflare.conf;
    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://dendrite:{{ ports.matrix }};

        include /etc/nginx/snippets/proxy_params.conf;
    }
}