version: 2

global:
  server_name: {{ domains.matrix }}
  private_key: /etc/dendrite/matrix_key.pem
  database:
    connection_string: postgres://{{ vault_matrix_postgres_user }}:{{ vault_matrix_postgres_password }}@{{ matrix_private_subnet }}.20:5432/{{ vault_matrix_postgres_db }}?sslmode=disable
    max_open_conns: 90
    max_idle_conns: 5
    conn_max_lifetime: -1

  jetstream:
    storage: /var/dendrite/jetstream

  cache:
    estimated_max_size_mb: 128

logging:
  - type: std
    level: info

client_api:
  registration_disabled: true
  rate_limiting:
    enabled: true
    threshold: 20
    cooloff_ms: 3000

media_api:
  max_file_size_bytes: 524288000
  dynamic_thumbnails: true
  base_path: /var/dendrite/media

federation_api:
  key_perspectives:
    - server_name: matrix.org
      keys:
        - key_id: "ed25519:a_RXGa"
          public_key: "l8Hft5qXKn1vfHrg3p4+W8gELQVo8N13JkluMfmn2sQ"

sync_api:
  realtime: true

user_api:
  account_database:
    connection_string: postgres://{{ vault_matrix_postgres_user }}:{{ vault_matrix_postgres_password }}@{{ matrix_private_subnet }}.20:5432/{{ vault_matrix_postgres_db }}?sslmode=disable

key_server:
  account_database:
    connection_string: postgres://{{ vault_matrix_postgres_user }}:{{ vault_matrix_postgres_password }}@{{ matrix_private_subnet }}.20:5432/{{ vault_matrix_postgres_db }}?sslmode=disable

app_service_api:
  account_database:
    connection_string: postgres://{{ vault_matrix_postgres_user }}:{{ vault_matrix_postgres_password }}@{{ matrix_private_subnet }}.20:5432/{{ vault_matrix_postgres_db }}?sslmode=disable

mscs:
  mscs: ["msc2836", "msc2946"]
