global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'grafana'
    static_configs:
      - targets: ['127.0.0.1:{{ ports.grafana }}']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['127.0.0.1:{{ ports.prometheus }}']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['{{ monitoring_bind_address }}:{{ ports.node_exporter }}']
        labels:
          hostname: '{{ inventory_hostname }}'
          env: '{{ env }}'
          region: '{{ region }}'
  
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['{{ monitoring_bind_address }}:{{ ports.cadvisor }}']