services:
  mtproto-proxy:
    image: telegrammessenger/proxy:2.0beta
    container_name: mtproto-proxy
    restart: unless-stopped
    volumes:
      - ./backend.conf:/etc/telegram/backend.conf:ro
      - /bin/true:/usr/local/bin/ip:ro
    entrypoint: >
      /usr/local/bin/mtproto-proxy
      -p 2398
      -H 443
      -M 1
      -C 5000
      --aes-pwd /etc/telegram/hello-explorers-how-are-you-doing
      -u root
      /etc/telegram/backend.conf
      --allow-skip-dh
      --nat-info {{ mtproto_proxy_subnet }}:{{ vault_mtproto_external_ip }}
      -S {{ vault_mtproto_secret }} 
      -P {{ vault_mtproto_tag }}
      --domain {{ vault_mtproto_domain }}
    ports:
      - "1443:443"
    networks:
      mtproto-proxy-network:
        ipv4_address: {{ mtproto_proxy_subnet }}.10

networks:
  mtproto-proxy-network:
    name: mtproto-proxy-network
    external: true